/* latin */
@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v8/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto ";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: yahei;
  src: url("./chinese.msyh.ttf");
}
@supports (backdrop-filter: blur(5px)) {
  .tagline {
    background: rgba(255, 255, 255, 0.3);
  }
}
@supports not (backdrop-filter: blur(5px)) {
  .tagline {
    background: rgba(0, 0, 0, 0.8);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(var(--right));
  }
}
::-webkit-scrollbar {
  display: none;
}

:root {
  --right: 0;
}

* {
  margin: 0;
  padding: 0;
  z-index: 2;
  text-decoration: none;
  scrollbar-width: none;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 10;
  position: relative;
  scroll-behavior: smooth;
}

.learn-more {
  font-family: poppins;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  color: black;
  vertical-align: middle;
}
.learn-more img {
  width: 1em;
  vertical-align: middle;
}

.bg-txt {
  width: max-content;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  background: transparent;
}
.bg-txt > h1 {
  background: transparent;
  font-family: poppins bold;
  font-size: 20em;
  -webkit-text-stroke: 10px rgba(0, 0, 0, 0.03);
  color: transparent;
  z-index: -10;
  text-align: center;
}

.fixed-footer {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  height: 10%;
  background: #F3F3F3;
  position: fixed;
  top: 90%;
  width: 100%;
  z-index: 99;
}
.fixed-footer .link {
  padding-left: 5%;
  width: 45%;
  position: initial;
  bottom: 5%;
  display: flex;
  justify-content: left;
}
.fixed-footer .link img {
  cursor: pointer;
  width: 4%;
}
.fixed-footer .link img:nth-child(1) {
  padding-right: 0.5em;
}
.fixed-footer .link img:nth-child(2) {
  padding-left: 0.5em;
}
.fixed-footer .link img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fixed-footer .give-feedback {
  width: 50%;
  height: 100%;
  font-family: poppins bold;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.fixed-footer .give-feedback p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: #3B3B3B;
  width: max-content;
  height: max-content;
  font-size: 1em;
  padding: 0.5em 1.5em;
  margin-right: 5%;
  color: white;
}

header {
  width: 100%;
  height: 15%;
  transition: background 0.2s ease-in-out, height 0.2s ease-in-out;
  position: fixed;
  z-index: 10;
}
header .cl {
  margin: auto;
  display: block;
  height: 8vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header .share {
  padding-right: 5vh;
  height: 4vh;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  cursor: pointer;
}

main {
  position: relative;
  z-index: -1;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0%;
  z-index: -1;
  color: white;
  overflow: hidden;
}
.landing-page .bg {
  height: 100%;
  width: 100%;
}
.landing-page .bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
  z-index: -1;
  position: relative;
}
.landing-page .overlay {
  background: rgba(0, 0, 0, 0.37);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.landing-page .title {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.landing-page .title p {
  font-family: poppins light;
  font-size: 1rem;
}
.landing-page .title h1 {
  font-family: poppins bold;
  font-size: 2.5rem;
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  line-height: 1.2em;
}
.landing-page .title a .learn-more {
  color: white;
  position: relative;
  z-index: 99;
}
.landing-page .recent-achievement {
  height: calc(721px / 2);
  width: calc(1080px / 2);
  position: absolute;
  right: 0;
  margin-right: 7em;
  transition: opacity 0.4s 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}
.landing-page .recent-achievement img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.landing-page .recent-achievement .tagline {
  width: 100%;
  height: 30%;
  position: relative;
  top: 70%;
  backdrop-filter: blur(30px);
  overflow: hidden;
}
.landing-page .recent-achievement .tagline .left,
.landing-page .recent-achievement .tagline .right {
  overflow: hidden;
}
.landing-page .recent-achievement .tagline .left span,
.landing-page .recent-achievement .tagline .right p {
  transition: transform 0.5s 0.8s ease-in-out;
}
.landing-page .recent-achievement .tagline .left {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.landing-page .recent-achievement .tagline .left span {
  text-align: right;
  font-size: 1.5rem;
  padding-right: 1em;
  font-family: poppins bold;
  line-height: 1em;
  width: max-content;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(100%, -50%);
}
.landing-page .recent-achievement .tagline .left .white-line {
  border-right: 5px solid white;
  height: 2em;
  left: 0;
}
.landing-page .recent-achievement .tagline .right {
  width: 50%;
  position: relative;
  height: 100%;
  vertical-align: top;
  display: inline-block;
  margin-right: -4px;
}
.landing-page .recent-achievement .tagline .right p {
  font-family: poppins light;
  font-size: 1rem;
  line-height: 1em;
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-200%, -50%);
}
.landing-page footer {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.landing-page footer a {
  height: 1.8rem;
}
.landing-page footer a:nth-child(1) {
  padding-right: 0.5rem;
}
.landing-page footer a:nth-child(2) {
  padding-left: 0.5rem;
}
.landing-page footer img {
  cursor: pointer;
  height: 100%;
}

.about {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 5%;
}
.about > h1 {
  font-family: poppins bold;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
  color: transparent;
  letter-spacing: 3px;
  width: max-content;
  margin: auto;
  margin-top: 30%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.about > img {
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 5%;
}
.about .imgs {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
}
.about .imgs .logo,
.about .imgs .flag {
  display: flex;
  flex-direction: column;
  margin: 25% 10%;
  height: 60%;
  overflow: hidden;
}
.about .imgs .logo img,
.about .imgs .flag img {
  height: 50%;
  transition: transform 0.4s ease-in-out;
}
.about .imgs .logo p,
.about .imgs .flag p {
  font-family: poppins bold;
  font-size: 1rem;
  text-align: center;
}
.about .about-content {
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}
.about .about-content .vision,
.about .about-content .mission,
.about .about-content .motto {
  display: inline-block;
  text-align: left;
  width: 70%;
  margin: 2%;
  margin-bottom: 6rem;
}
.about .about-content .vision h1,
.about .about-content .mission h1,
.about .about-content .motto h1 {
  padding-bottom: 1em;
  text-align: left;
  font-size: 1.5rem;
  overflow: hidden;
  height: 3em;
}
.about .about-content .vision h1 > p,
.about .about-content .mission h1 > p,
.about .about-content .motto h1 > p {
  font-family: poppins bold;
}
.about .about-content .vision h1 span,
.about .about-content .mission h1 span,
.about .about-content .motto h1 span {
  border-right: 5px solid black;
  height: 3em;
  display: none;
}
.about .about-content .vision > p,
.about .about-content .vision li,
.about .about-content .mission > p,
.about .about-content .mission li,
.about .about-content .motto > p,
.about .about-content .motto li {
  font-family: poppins light;
  font-size: 0.9rem;
  line-height: 2em;
}

.history {
  width: 100%;
  height: 100%;
  position: relative;
  top: 20vh;
}
.history .history-top {
  justify-content: center;
  text-align: center;
  width: 100%;
}
.history .history-top .history-title {
  font-size: 2.2rem;
  display: inline-block;
  text-align: center;
  width: 90%;
}
.history .history-top .history-title h1 {
  font-family: poppins bold;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
  color: transparent;
  padding-bottom: 0.2em;
}
.history .history-top .history-title > p {
  font-family: poppins light;
  font-size: 1rem;
  padding-bottom: 3em;
}
.history .history-top > img {
  width: 90%;
  height: max-content;
}
.history > p {
  width: 80%;
  font-family: poppins light;
  font-size: 1rem;
  line-height: 2em;
  height: 70vh;
  overflow-y: scroll;
  margin: 5% auto;
}

.contact {
  position: relative;
  top: 40vh;
  width: 100%;
  height: 100vh;
  padding-bottom: 6rem;
}
.contact .contact-content {
  text-align: center;
  width: 100%;
}
.contact .contact-content > h1 {
  color: transparent;
  font-family: poppins bold;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
}
.contact .addr,
.contact .num {
  margin: 3% 0;
  margin-bottom: 2em;
}
.contact h2 {
  font-family: poppins bold;
  font-size: 1rem;
  margin-bottom: 0.2em;
}
.contact p {
  font-family: poppins light;
  font-size: 1rem;
}
.contact iframe {
  width: 100%;
  height: 55%;
  background: #f3f3f3;
}

/*# sourceMappingURL=style.css.map */
