@import "./fonts";

@mixin center() {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerX() {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY() {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin footer($width, $lcr, $pos, $wid) {
    width: $width;
    position: $pos;
    bottom: 5%;
    display: flex;
    justify-content: $lcr;

    img {

        cursor: pointer;
        width: $wid;

        &:nth-child(1) {
            padding-right: 0.5em;
        }

        &:nth-child(2) {
            padding-left: 0.5em;
        }
    }
}

@supports(backdrop-filter: blur(5px)) {
    .tagline {
        background: rgba(255, 255, 255, 0.3);
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .tagline {
        background: rgba(0, 0, 0, 0.8);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(var(--right));
    }
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --right: 0;
}

* {
    margin: 0;
    padding: 0;
    z-index: 2;
    text-decoration: none;
    scrollbar-width: none;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    z-index: 10;
    position: relative;
    scroll-behavior: smooth;
}

.learn-more {
    font-family: poppins;
    font-size: 1rem;
    width: max-content;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
    color: black;

    img {
        width: 1em;
        float: right;
    }
}

.bg-txt {
    width: max-content;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    background: transparent;

    &>h1 {
        background: transparent;
        font-family: poppins bold;
        font-size: 20em;
        -webkit-text-stroke: 10px rgba(0, 0, 0, 0.03);
        color: transparent;
        // @include centerX();
        z-index: -10;
        text-align: center;
        // position: relative;
        // left: 50%;
        // transform: translateX(-150%);
        // transition: transform 1.5s ease-in-out;
    }
}

.fixed-footer {
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    height: 10%;
    background: #F3F3F3;
    position: fixed;
    top: 90%;
    width: 100%;
    z-index: 99;

    .link {
        padding-left: 5%;
        @include footer(45%, left, initial, 4%);

        img {
            @include centerY();
        }
    }

    .give-feedback {
        width: 50%;
        height: 100%;
        font-family: poppins bold;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        p {
            @include centerY();
            background: #3B3B3B;
            width: max-content;
            height: max-content;
            font-size: 1em;
            padding: 0.5em 1.5em;
            margin-right: 5%;
            color: white;

        }
    }

}

header {
    width: 100%;
    height: 15%;
    transition: background 0.2s ease-in-out, height 0.2s ease-in-out;
    position: fixed;
    z-index: 10;

    .cl {
        margin: auto;
        display: block;
        width: 4vw;
        @include centerY();
    }

    .share {
        padding-right: 5vh;
        width: 2vw;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

main {
    position: relative;
    z-index: -1;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0%;
    z-index: -1;
    color: white;
    overflow: hidden;

    .bg {
        height: 100%;
        width: 100%;
    }

    .bg img {
        height: 100%;
        width: 100%;
        transform: scale(1.2);
        transition: transform 1s ease-in-out, filter 1s ease-in-out; //changed time
        z-index: -1;
        position: relative;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.37);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 10;
    }

    .title {
        position: relative;
        top: 40%;
        padding-left: 7em;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

        p {
            font-family: poppins light;
            font-size: 1rem;
        }

        h1 {
            font-family: poppins bold;
            font-size: 4rem;
            -webkit-text-stroke: 3px white;
            color: transparent;
            line-height: 1.2em;
        }

        a {
            .learn-more {
                color: white;
                position: relative;
                z-index: 99;
            }
        }
    }

    .recent-achievement {
        height: calc(721px / 2);
        width: calc(1080px / 2);
        position: absolute;
        right: 0;
        margin-right: 7em;
        transition: opacity 0.4s 0.4s ease-in-out,
            transform 0.4s 0.4s ease-in-out; //changed time

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        .tagline {
            width: 100%;
            height: 30%;
            position: relative;
            top: 70%;
            backdrop-filter: blur(30px);
            overflow: hidden;

            .left,
            .right {
                overflow: hidden;
            }

            .left span,
            .right p {
                transition: transform 0.5s 0.8s ease-in-out; //changed time
            }

            .left {
                width: 50%;
                height: 100%;
                display: inline-block;
                vertical-align: top;

                span {
                    text-align: right;
                    font-size: 1.5rem;
                    padding-right: 1em;
                    font-family: poppins bold;
                    line-height: 1em;
                    width: max-content;
                    display: inline-block;
                    @include center();
                    transform: translate(100%, -50%); //go to -50% 
                }

                //!changeable
                .white-line {
                    border-right: 5px solid white;
                    height: 2em;
                    left: 0;
                }
            }

            .right {
                width: 50%;
                position: relative;
                height: 100%;
                vertical-align: top;
                display: inline-block;
                margin-right: -4px;

                p {
                    font-family: poppins light;
                    font-size: 1rem;
                    line-height: 1em;
                    width: 80%;
                    @include center();
                    transform: translate(-200%, -50%); //go to -50%
                }

                //!changeable
            }
        }
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content: center;
        z-index: 10;

        a {
            width: 2vw;

            &:nth-child(1) {
                padding-right: 0.5rem;
            }

            &:nth-child(2) {
                padding-left: 0.5rem;
            }
        }

        img {
            cursor: pointer;
            width: 100%;
        }
    }
}

.about {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 5%;

    &>h1 {
        font-family: poppins bold;
        font-size: 4rem;
        -webkit-text-stroke: 3px black;
        color: transparent;
        letter-spacing: 3px;
        width: max-content;
        margin: auto;
        margin-top: 8%;
        opacity: 0;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; //changed time
    }

    &>img {
        width: 60%;
        margin: auto;
        display: block;
        margin-top: 5%;
    }

    .imgs {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40vh;

        .logo,
        .flag {
            display: flex;
            flex-direction: column;
            margin: 5%;
            height: 100%;
            overflow: hidden;

            img {
                height: 50%;
                transition: transform 0.4s ease-in-out;
            }

            p {
                font-family: poppins bold;
                font-size: 1.5rem;
            }
        }
    }

    .about-content {
        display: flex;
        justify-content: center;
        margin-top: 5%;

        .vision,
        .mission,
        .motto {
            width: 20%;
            margin: 2%;

            h1 {
                padding-bottom: 1em;
                text-align: right;
                font-size: 1.5rem;
                overflow: hidden;
                height: 3em;

                &>p {
                    font-family: poppins bold;
                    --right: -10%;
                    transform: translateX(var(--right));
                }

                span {
                    border-right: 5px solid black;
                    height: 3em;
                    float: right;
                    transform: translateY(-100%);
                }
            }

            &>p,
            li {
                font-family: poppins light;
                font-size: 0.9rem;
                line-height: 2em;
            }
        }
    }
}

.history {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20vh;

    .history-top {
        display: flex;
        justify-content: center;
        width: 100%;

        .history-title {
            margin-right: 10%;
            width: 30%;

            h1 {
                font-family: poppins bold;
                font-size: 4rem;
                -webkit-text-stroke: 3px black;
                color: transparent;
                padding-bottom: 0.2em;
            }

            &>p {
                font-family: poppins light;
                font-size: 1rem;
                padding-bottom: 3em;
            }
        }

        &>img {
            width: max-content;
            height: max-content;
        }
    }

    &>p {
        width: 80%;
        font-family: poppins light;
        font-size: 1rem;
        line-height: 2em;
        height: 70vh;
        overflow-y: scroll;
        margin: 5% auto;
    }
}

.contact {
    position: relative;
    top: 40vh;
    width: 100%;
    height: 100vh;
    margin-left: 7%;
    display: flex;

    .contact-content {
        width: 27%;

        &>h1 {
            color: transparent;
            font-family: poppins bold;
            font-size: 4rem;
            -webkit-text-stroke: 3px black;
        }
    }

    .addr,
    .num {
        margin: 3% 0;
        margin-bottom: 2em;
    }

    h2 {
        font-family: poppins bold;
        font-size: 1rem;
        margin-bottom: 0.2em;
    }

    p {
        font-family: poppins light;
        font-size: 1rem;
    }

    iframe {
        width: 60%;
        height: 55%;
        background: #f3f3f3;
    }
}